.ajax-btns {
  margin: auto;
  padding: 20px;
  border: 2px solid $text-color-all-page;
  text-transform: uppercase;
  background-color: transparent;
  color: $text-color-all-page;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &--inner {
    margin: 50px auto 50px;
  }

  &:hover {
    color: aliceblue;
    background-color: $text-color-all-page;
  }

  &:disabled {
    background: darkcyan;
    color: aliceblue;
    border: 2px solid aliceblue;
  }
}